.App {
  width:100vw;
  height:100vh;
  background-color: #282c34;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.frame{
  width:600px;
  height:250px;
  border:2px solid white;
}
.ball{
  position:relative;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background-color:red;
  border-radius: 100%;
  transition:all 1s ease-in-out;
}
.btn{
  margin:5px;
  padding:10px 20px;
  background-color:black;
  border:2px solid white;
  color:white;
}
.btn.move{
  background-color:green;
}
.btn.reset{
  background-color:red;
}
.btn:hover{
  cursor:pointer;
  opacity:0.7;
}
